name: Apply TFC OIDC IAM Changes

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  apply-iam-tfc-oidc:
    name: Apply IAM TFC OIDC
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra/live/shared/iam-tfc-oidc
        shell: bash
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
      - name: Terraform Init
        run: terraform init
      - name: Terraform Format
        run: terraform fmt -check
      - name: Terraform Validate
        run: terraform validate
      - name: Terraform Plan
        run: terraform plan -out=tfplan
      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan
