name: Create GitHub OIDC IAM Resources

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  create-github-oidc:
    name: Create GitHub OIDC IAM Resources
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra/live/shared/iam-github-oidc-deploy
        shell: bash
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve
