name: API - Deploy to AWS ECS

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Debug AWS Connection
        run: |
          echo "Checking caller identity..."
          aws sts get-caller-identity
          echo "Checking repository existence..."
          aws ecr describe-repositories --repository-names cloudops-manager-repo || echo "Repository check failed"

      - name: Log in to AWS ECR
        run: aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username AWS --password-stdin ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com

      - name: Build and Push Docker image
        run: |
          docker build -f api/Dockerfile.dev -t cloud-ops-manager-api api
          docker tag cloud-ops-manager-api:latest ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/cloudops-manager-repo:latest
          docker push ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/cloudops-manager-repo:latest

      - name: Update ECS Service
        run: |
          # Get the current task definition
          aws ecs describe-task-definition --task-definition resource-provisioner-api-task --query "taskDefinition" --output json > task-definition.json
          
          # Update the image URI in the task definition
          IMAGE_URI="${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/cloudops-manager-repo:latest"
          jq --arg image "$IMAGE_URI" '.containerDefinitions[0].image = $image' task-definition.json > updated-task-definition.json
          
          # Register the new task definition
          NEW_TASK_DEFINITION_ARN=$(aws ecs register-task-definition --cli-input-json file://updated-task-definition.json --query "taskDefinition.taskDefinitionArn" --output text)
          
          echo "New task definition ARN: $NEW_TASK_DEFINITION_ARN"

          aws ecs update-service \
            --cluster cloudops-manager-cluster \
            --service resource-provisioner-api-service \
            --task-definition $NEW_TASK_DEFINITION_ARN \
            --force-new-deployment \
            --region ${{ secrets.AWS_REGION }}
            
          aws ecs wait services-stable \
            --cluster cloudops-manager-cluster \
            --services resource-provisioner-api-service \
            --region ${{ secrets.AWS_REGION }}