name: API - Create AWS Infrastructure

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  create-infrastructure:
    name: Create AWS Infrastructure
    runs-on: ubuntu-latest

    outputs:
      datadog_forwarder_arn: ${{ steps.terraform_output.outputs.datadog_forwarder_arn }}

    defaults:
      run:
        working-directory: infra/live/provisioner_api/dev
        shell: bash

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          role-session-name: github-actions-${{ github.run_id }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -input=false -var-file=dev.tfvars

      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false -var-file=dev.tfvars

      - name: Get Terraform Outputs
        id: terraform_output
        run: |
          echo "datadog_forwarder_arn=$(terraform output -raw datadog_forwarder_arn)" >> $GITHUB_OUTPUT
