name: IAM - Destroy GitHub OIDC Role

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  destroy-iam-github-oidc:
    name: Destroy IAM GitHub OIDC
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra/live/shared/iam-github-oidc
        shell: bash

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          role-session-name: github-actions-${{ github.run_id }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan Destroy
        run: terraform plan -destroy -input=false

      - name: Terraform Destroy
        run: terraform destroy -auto-approve -input=false
